@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fg-logo {
  width: 120px;
  height: 31px;
  margin: 0px 25px 0px 0;
  float: left;
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.layout ant-layout.ant-layout-has-sider {
  min-height: 100vh;
}

.fp-logo-priv {
  width: 120px;
  height: 31px;
  margin: 20px 48px;
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.fg-logo-sub {
  color: #1890ff;
  font-weight: 400;
}

.fg-login-form .login-form {
  max-width: 300px;
}
.fg-login-form .login-form-forgot {
  float: right;
}
.fg-login-form .login-form-button {
  width: 100%;
}
.fg-login-form {
  max-width: 400px;
  margin: auto;
}

.fg-login-form .title,
.fg-reg-form .title {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  .fg-login-form {
    max-width: 100%;
    margin: auto;
  }
}

.fg-reg-form {
  max-width: 500px;
  margin: auto;
}
